<nav class="nav-wraper indigo">
    <div class="container">
      <a href="#" class="brand-logo">ElTalento</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Eddy</a></li>
          <li><a href="#">Opciones</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-links">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Eddy</a></li>
    <li><a href="#">Opciones</a></li>
</ul>